.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    padding-top: 0px;
    width: 20%;
    min-width: 150px;
    border: 10px solid #FF68A8;
    border-radius: 10px;
    background-color: white;
    color: #FF68A8;
    animation: transform 0.2s;
    max-height: 36.5rem;
    width: 19.5rem;
    margin-left: 2.8rem;
    margin-top: 3rem;
}

.main:hover {
    transform: scale(1.02);
    cursor: pointer;
}

.heading {
    font-size: 40px;
    color: #FF68A8;
    font-weight: 600;
}

.miniCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    border: 5px solid #FF68A8;
    border-radius: 10px;
    font-size: 24px;
    padding: 10px;
    padding-top: 6rem;
    padding-bottom: 6rem;
    text-align: center;
    height: 10%;
    min-height: 120px;
    margin-bottom: 0.5rem;
}


.p {
    width: 70%;
    font-weight: 600;
    font-size: 30px;   
}

.dot {
    border: 5px solid #FF68A8;
    border-radius: 10px;
}
