.main:-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
}

::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
}

.main {
    user-select: none;
    -ms-overflow-style: none;  
    scrollbar-width: none;
    scrollbar-gutter: none;
    cursor: grab;
}

.modal {
    scale: 0.95;
    width: 23rem;
}

.reg_card {
    margin-top: 0.5rem;
}

.logo {
    width: 38rem;
}

.gridCenterMain {
    display: flex;
    flex-direction: column;
    /* padding-left: 18rem; */
    padding-top: 35rem; 
    width: 84rem;
    margin-left: -1.2rem;
}

.gridCenterTop {
    display: grid;
    grid-template-rows: 2fr 1fr;
    padding-left: 4rem;
    height: 62rem;
    max-width: 95rem;
}

.top1 {
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    column-gap: 0rem;
}

.top1left {
    display: grid;
    grid-template-rows: 1fr 2fr;
    row-gap: 3rem;
}

.top1lefttop {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.top1leftbottom {
    /* padding-left: 3rem; */
    display: grid;
    grid-template-columns: 0.3fr 4fr;
    column-gap: 6.5rem;
    /* margin-left: 3rem; */
    /* margin-right: -5rem; */
}

.tempflex {
    display: flex;
    flex-direction: row;
    gap: 3.5rem;
}

.top2 {
    display: flex;
    flex-direction: row;
    padding-left: 7rem;
    gap: 3.5rem;
    margin-top: -4rem;
}

.top1right {
    display: grid;
    grid-template-rows: 2fr 1fr;
    max-width: 15rem;
    margin-left: 5rem;
}

.gridCenterBottom {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding-left: 5rem;
    margin-left: -2rem;
}

.gridBottomLeft {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 3rem;
    row-gap: 4.5rem;
    margin-top: 1rem    ;
}

.gridBottomRight {
    display: flex;
    flex-direction: row;
    
}

.nav {
    padding-top: 5rem;
    padding-left: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-right: 2rem;
}

.navbot {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.navtop {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-top: -3rem;
}

.rightGridMain {
    display: grid;
    grid-template-rows: 1fr 1.2fr;
}

.rightGridTop {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.topLeft {
    padding-left: 3.5rem;
    display: grid;
    grid-template-rows: 1fr 1fr;
    row-gap: 6rem;
    margin-top: 26.5rem;
}

.topRight {
    display: grid;
    padding-left: 3.5rem;
    grid-template-rows: 1fr 3fr 1.5fr;
    margin-top: 27.5rem;
}

.topRightMid {
    display: flex;
    flex-direction: row;
    gap: 3rem;
}


.rightGridBottom {
    display: grid;
    grid-template-columns: 0.9fr 2.1fr;
    column-gap: 0rem;
}

.bottomLeft {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    gap: 2.8rem;
    margin-top: -.6rem;
}

.bottomRight {
    display: flex;
    flex-direction: column;
    padding-left: 18px;
    gap: 3.25rem;
    margin-top: -1rem;
}

.bottomRightTop {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.bottomRightBottom {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
}

.active {
    cursor: grabbing;
    cursor: -webkit-grabbing;
}

.hover {
    animation: transform 0.2s;
}

.hover:hover {
    transform: scale(1.02);
}
