.main {
    border-left: 9px;
    border-right: 12px;
    border-bottom: 12px;
    border-top: 9px;
    padding: 10px;
    border-color: black;
    border-style: solid;
    width: 19%;
    min-width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Dosis', sans-serif;
    animation: transform 0.2s;
    border-radius: 15px;
    background-color: white;
}

.main:hover {
    transform: scale(1.02);
}

.login {
    margin-bottom: 10px;
    animation: transform 0.2s;
}

.login:hover {
    transform: scale(1.02);
}

.signup {
    margin-top: 10px;
    animation: transform 0.2s;
}

.signup:hover {
    transform: scale(1.02);
}
