.main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    transition: transform .2s;
}

.topRight {
    top: 0;
    right: 0;
}

.topLeft {
    top: 0;
    left: 0;
}

.bottomRight {
    bottom: 0;
    right: 0;
}

.bottomLeft {
    bottom: 0;
    left: 0;
}

.bg {
    z-index: 2;
    width: 100%;
    position: relative;
}

.fg {
    z-index: 1000;
    position: absolute;
    height: auto;
    /* width: 60%; */
    max-width: 35rem;
}

@media screen and (max-width: 1300px) {
    .main {
        width: 75%;
    }

    .fg {
        width: 70%;
    }
}

@media screen and (max-width: 830px) {
    .main {
        width: 85%;
    }

    .fg {
        width: 70%;
    }
}
