.main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    width: 60%;
    min-width: 320px;
    transition: transform .2s;
}

.main:hover {
    /* transform: scale(1.01); */
    cursor: pointer;
}

.topRight {
    top: 0;
    right: 0;
}

.topLeft {
    top: 0;
    left: 0;
}

.bottomRight {
    bottom: 0;
    right: 0;
}

.bottomLeft {
    bottom: 0;
    left: 0;
}

.bg {
    z-index: 2;
    width: 100%;
    position: relative;
}

.fg {
    z-index: 1000;
    position: absolute;
    height: auto;
    width: 50%;
    min-width: 280px;
}

.fg:hover {
    transform: scale(1.02);
}

@media screen and (max-width: 1300px) {
    .main {
        width: 75%;
    }

    .fg {
        width: 70%;
    }
}

@media screen and (max-width: 830px) {
    .main {
        width: 85%;
    }

    .fg {
        width: 70%;
    }
}
