.main {
    border-radius: 5px;
    transition: transform .2s;
}

.main:hover {
    transform: scale(1.02);
}

.topLevel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.mainDiv {
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    padding: 0px;
    width: 98%;
    cursor: pointer;
}

.bottomNav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.laptop {
    background-color: white;
    justify-self: end;
    padding: 2px;
    border-radius: 5px;
    margin-right: 10px;
}

.code {
    background-color: white;
    justify-self: end;
    padding: 2px;
    border-radius: 5px;
}

.addIcon {
    border: 3px solid white;
    background-color: transparent;
    color: white;
    align-self: center;
    justify-self: flex-end;
    border-radius: 5px;
}

.mainNav {
    display: flex;
    flex-direction: row;
}

.mainNav div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Title {
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 24px;
    color: white;
}

.mainImg {
    background-size: cover;
    background-image: url("https://thumbs.dreamstime.com/b/coming-soon-glowing-purple-violet-neon-text-brick-wall-204111095.jpg");
    height: 200px;
    width: 356px;
    border-radius: 5px;
}

.mainImg::after {
    content: "";
    background-image: url('../assets/paper_1.png');
    opacity: 0.3;
    position: fixed;
}

img::after {
    content: "";
    animation: grain 8s steps(10) infinite;
    background-image: url('../assets/paper_1.png');
    height: 200%;
    width: 200%;
    opacity: 0.3;
    position: fixed;
}

.modalMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: "2%";
    text-align: center;
}

.modalHeading {
    font-family: 'ArcadeClassic', sans-serif;
    font-size: 36px;
    font-weight: 500;
}

.modalImgDiv {
    width: 90%;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.modalImg {
    border-radius: 16px;
}

.modalDescDiv {
    width: 90%;
    margin-top: 3%;
    align-self: center;
    justify-self: center;
    text-align: center;
}

.desc {
    font-weight: 400;
    letter-spacing: 0.3px;
    font-size: 16px;
}

.ruler {
    border-style:dotted;
    border-width: 1px;
    width: 90%;
    letter-spacing: 10px;
}

.quote {
    margin-top: -1%;
    font-size: 20px;
    font-style: italic;
    font-weight: 500;
}

.headingCard {
    font-family: 'Dosis', sans-serif;
    letter-spacing: 1.5px;
    font-weight: 700;
    font-size: 26px;
    color: white;
}

.moreDetailsButton {
    display: flex;
    flex-direction: row;
    width: 90%;
}

html {
    overflow: scroll;
}

::-webkit-scrollbar {
    width: 0;
    height: 0;
    background: transparent;
}

.loginSignup {
    display: flex;
    flex-direction: column;
    width: 70%;
    font-family: 'ArcadeClassic';
    text-align: left;
}

.loginSignup p {
    font-family: 'Dosis';
    font-size: 24px;
    letter-spacing: 1px;
    margin-bottom: 5px;
}

.loginSignup input {
    height: 30px;
    padding-left: 5px;
    padding-right: 5px;
    border: solid black;
    border-width: 3px 6px 6px 3px;
}
