/*agar isko change krra hai tho inline wala poora fun.tsx m hai*/

.main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 10px solid #CA7CD8;
    width: 27rem;
    min-width: 200px;
    max-height: 11rem;
    padding: 10px;
    border-radius: 15px;
    background-color: #CA7CD8;
    animation: transform 0.2s;
}

.black {
    background-color: black;
    padding: 5px;
    color: white;
    width: 40%;
    text-align: center;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-left: -6rem; */
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    font-size: 36px;
    text-align: center;
    margin-right: 2rem;
}
