.main {
    border-left: 9px;
    border-right: 12px;
    border-bottom: 9px;
    border-top: 12px;
    padding: 10px;
    border-color: #CA7CD8;
    border-style: solid;
    width: 20%;
    min-width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Dosis', sans-serif;
    border-radius: 15px;
    animation: transform 0.2s;
    background-color: white;
}

.main:hover {
    transform: scale(1.02);
}

.heading {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #CA7CD8;
    font-weight: 500;
    font-size: 28px;
    margin-bottom: 2%;
    margin-top: 1%;
}

.login {
    margin-bottom: 10px;
    animation: transform 0.2s;
    font-size: 28px;
    font-family: 'ArcadeClassic';
}

.login:hover {
    transform: scale(1.02);
}

.signup {
    margin-top: 10px;
    animation: transform 0.2s;
    font-size: 28px;
    font-family: 'ArcadeClassic';
}

.signup:hover {
    transform: scale(1.02);
}
