.main {
    display: flex;
    flex-direction: column;
    border: 5px solid;
    width: 100%;
    border-radius: 15px;
    padding: 8px;
    animation: transform 0.2s;
    background-color: white;
}

.main:hover {
    transform: scale(1.03);
    cursor: pointer;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.reg {
    background-color: white;
    border: 4px solid #3968CB;
    border-radius: 15px;
}

.add {
    background-color: white;
    border: 4px solid #3968CB;
    border-radius: 15px;
}

.text {
    width: 90%;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: -5%;
    padding: 2%;
}